<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information about this product</title>
</head>
<body>

<p th:text="${product.getTitle()}">VALUE</p>
<p th:text="${product.getImage_url()}">VALUE</p>
<p th:text="${product.getCategory_id()}">VALUE</p>
<p th:text="${product.getDescription()}">VALUE</p>
<p th:text="${product.getQuantity()}">VALUE</p>
<p th:text="${product.getPrice()}">VALUE</p>
</body>
<form style="position: fixed; top: 90px; right: 10px;" action="/user/basket">
    <input type="submit" value="Корзина"/>
</form>
<!--<form th:method="PATCH" th:action="@{/user/{id}(id=${pr.getId()})}" th:object="${book}">-->
<!--    <input type="submit" value="Добавить в корзину"/>-->
<!--</form>-->
</html>