<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .product-image {
            width: 500px; /* Задайте нужную ширину */
            height: 500px; /* Задайте нужную высоту */
            object-fit: cover; /* Это свойство позволяет масштабировать изображение, сохраняя пропорции */
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Информация о товаре</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" style="font-size: 2em;">𝔼𝕒𝕫𝕪 𝕊𝕟𝕚𝕔𝕜𝕖𝕣𝕤</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/hello">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user/catalog">Каталог<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/admin/adminPage">Админ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Профиль</a>
            </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/user/basket" method="get">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Корзина</button>
        </form>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" th:method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход</button>
        </form>

    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:text="${product.title}"></h2>
<!--            <img th:src="@{${product.getImage()}}" class="img-fluid product-image" alt="картинка">-->
            <img th:src="@{${product.getImage()} + '?v=' + ${#dates.createNow().getTime()}}" class="img-fluid product-image" alt="картинка">
            <p><strong>Категория:</strong> <span th:text="${product.category}"></span></p>
            <p><strong>Цена:</strong> <span th:text="${product.price}"></span></p>
            <p><strong>Количество:</strong> <span th:text="${product.quantity == 0 ? 'товар закончился' : product.quantity}"></span></p>
            <form th:method="post" th:action="@{/user/{id}(id=${product.product_id})}">
                <button class="btn btn-lg btn-block btn-outline-primary" type="submit" style="background-color: blue; color: white;" th:disabled="${product.quantity == 0}">Добавить в корзину!</button>
            </form>
            <hr style="color: black"/>
            <p th:text="${product.description}"></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>